.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.menu{
  background-color: aliceblue;
  margin-bottom: 0px;
}

.menu li{
  display: inline-block;
  padding: 5px;
  border-right: 1px solid black;
}

.menu li a{
  text-decoration: none;
}

.row_main{
  width: 80%;
  background-color: aquamarine;
  margin: auto;
  padding: 10px;
}

.row_main div{
  /* padding: 10px; */
  margin: 3px 0;
}

#mainLabelDiv label{
  display: block;
}

.highlight_red{
  color: red;
}

.table_main tr{
  cursor: pointer;
}

th{
  text-align: center;
}

td{
  text-align: center;
  vertical-align: middle;
}

.isActive{
  background-color: fuchsia;

}

.menu .logout{
  float: right;
  border-right: none;
  border-left: 1px solid black;
}